In [1]:
!pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/a4/dd/660f7d3c8f344df3537dae1c4a96b92962ac4f470cf6fb763722cc420437/category_encoders-1.2.8-py2.py3-none-any.whl (44kB)
    100% |████████████████████████████████| 51kB 166kB/s ta 0:00:011
Requirement already satisfied: numpy>=1.8.0 in /home/kamran/anaconda3/lib/python3.6/site-packages (from category_encoders) (1.14.2)
Requirement already satisfied: statsmodels<=0.8.0,>=0.6.0 in /home/kamran/anaconda3/lib/python3.6/site-packages (from category_encoders) (0.8.0)
Requirement already satisfied: scipy>=0.9 in /home/kamran/anaconda3/lib/python3.6/site-packages (from category_encoders) (1.0.1)
Requirement already satisfied: scikit-learn>=0.15.0 in /home/kamran/anaconda3/lib/python3.6/site-packages (from category_encoders) (0.19.1)
Requirement already satisfied: pandas>=0.15.0 in /home/kamran/anaconda3/lib/python3.6/site-packages (from category_encoders) (0.22.0)
Requirement already satisfied: patsy>=0.4.0 in /home/kamran/anaconda3/lib/python3.6/site-packages (from category_encoders) (0.5.0)
Requirement already satisfied: python-dateutil>=2 in /home/kamran/anaconda3/lib/python3.6/site-packages (from pandas>=0.15.0->category_encoders) (2.7.2)
Requirement already satisfied: pytz>=2011k in /home/kamran/anaconda3/lib/python3.6/site-packages (from pandas>=0.15.0->category_encoders) (2018.4)
Requirement already satisfied: six in /home/kamran/anaconda3/lib/python3.6/site-packages (from patsy>=0.4.0->category_encoders) (1.11.0)
distributed 1.21.8 requires msgpack, which is not installed.
newsapi-python 0.2.1 has requirement requests==2.13.0, but you'll have requests 2.18.4 which is incompatible.
Installing collected packages: category-encoders
Successfully installed category-encoders-1.2.8

In [1]:
import category_encoders as ce

In [3]:
from category_encoders import *
import pandas as pd
from sklearn.datasets import load_boston

In [4]:
# prepare some data
bunch = load_boston()
y = bunch.target
X = pd.DataFrame(bunch.data, columns=bunch.feature_names)

In [6]:
y[0:10]

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9])

In [7]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [12]:
# use binary encoding to encode two categorical features
enc = BinaryEncoder(cols=['CHAS', 'RAD']).fit(X, y)

In [13]:
enc

BinaryEncoder(cols=['CHAS', 'RAD'], drop_invariant=False,
       handle_unknown='impute', impute_missing=True, return_df=True,
       verbose=0)

In [14]:
# transform the dataset
numeric_dataset = enc.transform(X)

In [16]:
numeric_dataset.head()

,CHAS_0,CHAS_1,RAD_0,RAD_1,RAD_2,RAD_3,RAD_4,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,TAX,PTRATIO,B,LSTAT
0,0,1,0,0,0,0,1,0.00632,18.0,2.31,0.538,6.575,65.2,4.0900,296.0,15.3,396.90,4.98
1,0,1,0,0,0,1,0,0.02731,0.0,7.07,0.469,6.421,78.9,4.9671,242.0,17.8,396.90,9.14
2,0,1,0,0,0,1,0,0.02729,0.0,7.07,0.469,7.185,61.1,4.9671,242.0,17.8,392.83,4.03
3,0,1,0,0,0,1,1,0.03237,0.0,2.18,0.458,6.998,45.8,6.0622,222.0,18.7,394.63,2.94
4,0,1,0,0,0,1,1,0.06905,0.0,2.18,0.458,7.147,54.2,6.0622,222.0,18.7,396.90,5.33

In [2]:
#Apply on Product Data set
import pandas as pd

In [3]:
df = pd.read_csv('product_backorders.csv')

In [4]:
df.columns

Index(['sku', 'national_inv', 'lead_time', 'in_transit_qty',
       'forecast_3_month', 'forecast_6_month', 'forecast_9_month',
       'sales_1_month', 'sales_3_month', 'sales_6_month', 'sales_9_month',
       'min_bank', 'potential_issue', 'pieces_past_due', 'perf_6_month_avg',
       'perf_12_month_avg', 'local_bo_qty', 'deck_risk', 'oe_constraint',
       'ppap_risk', 'stop_auto_buy', 'rev_stop', 'went_on_backorder'],
      dtype='object')

In [5]:
df.drop('sku', axis = 1, inplace = True)
columns = df.columns
labels = df['went_on_backorder']
features = df.drop(['went_on_backorder'], axis=1)

In [25]:
labels.head()

0    Yes
1    Yes
2    Yes
3    Yes
4    Yes
Name: went_on_backorder, dtype: object

In [26]:
features.head()

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,potential_issue,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop
0,0,8.0,1,6,6,6,0,4,9,12,...,No,1,0.90,0.89,0,No,No,No,Yes,No
1,0,8.0,0,2,3,4,1,2,3,3,...,No,0,0.96,0.97,0,No,No,No,Yes,No
2,20,2.0,0,45,99,153,16,42,80,111,...,No,0,0.81,0.88,0,No,No,No,Yes,No
3,0,8.0,0,9,14,21,5,17,36,43,...,No,0,0.96,0.98,0,No,No,No,Yes,No
4,0,12.0,0,31,31,31,7,15,33,47,...,No,3,0.98,0.98,0,No,No,No,Yes,No

In [27]:
features.dtypes

national_inv           int64
lead_time            float64
in_transit_qty         int64
forecast_3_month       int64
forecast_6_month       int64
forecast_9_month       int64
sales_1_month          int64
sales_3_month          int64
sales_6_month          int64
sales_9_month          int64
min_bank               int64
potential_issue       object
pieces_past_due        int64
perf_6_month_avg     float64
perf_12_month_avg    float64
local_bo_qty           int64
deck_risk             object
oe_constraint         object
ppap_risk             object
stop_auto_buy         object
rev_stop              object
dtype: object

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
# integer encode
label_encoder = LabelEncoder()
labels = label_encoder.fit_transform(labels)

In [10]:
from category_encoders import *

In [11]:
# use binary encoding to encode two categorical features
enc = BinaryEncoder(cols=['potential_issue', 'deck_risk', 'oe_constraint','ppap_risk' , 'stop_auto_buy', 'rev_stop']).fit(features, labels)

In [12]:
# transform the dataset
numeric_dataset = enc.transform(features)

In [20]:
numeric_dataset.head()

,potential_issue_0,potential_issue_1,deck_risk_0,deck_risk_1,oe_constraint_0,oe_constraint_1,ppap_risk_0,ppap_risk_1,stop_auto_buy_0,stop_auto_buy_1,...,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,min_bank,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty
0,0,1,0,1,0,1,0,1,0,1,...,6,0,4,9,12,0,1,0.90,0.89,0
1,0,1,0,1,0,1,0,1,0,1,...,4,1,2,3,3,0,0,0.96,0.97,0
2,0,1,0,1,0,1,0,1,0,1,...,153,16,42,80,111,10,0,0.81,0.88,0
3,0,1,0,1,0,1,0,1,0,1,...,21,5,17,36,43,0,0,0.96,0.98,0
4,0,1,0,1,0,1,0,1,0,1,...,31,7,15,33,47,2,3,0.98,0.98,0

In [21]:
features=numeric_dataset

In [14]:
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split

In [22]:
features_train, features_test, labels_train, labels_test = train_test_split(features, 
                                                                            labels, 
                                                                            test_size=0.2, 
                                                                            random_state=0)

In [23]:
smote = SMOTE(random_state=0, kind='svm')

In [31]:
features_train.fillna(0,inplace = True)

/home/kamran/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3035: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [32]:
#smote_enn = SMOTEENN(smote = sm)
x_train_res, y_train_res = smote.fit_sample(features_train, labels_train)

# Building the Model

In [36]:
#pd.concat([df1, df2], axis=1)

In [38]:
df_concate = pd.concat([x_train_res, y_train_res], axis=1)

TypeError: cannot concatenate object of type "<class 'numpy.ndarray'>"; only pd.Series, pd.DataFrame, and pd.Panel (deprecated) objs are valid

In [34]:
import h2o

In [35]:
from h2o.automl import H2OAutoML
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "1.8.0_152-release"; OpenJDK Runtime Environment (build 1.8.0_152-release-1056-b12); OpenJDK 64-Bit Server VM (build 25.152-b12, mixed mode)
  Starting server from /home/kamran/anaconda3/lib/python3.6/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmpxn3hjx3b
  JVM stdout: /tmp/tmpxn3hjx3b/h2o_kamran_started_from_python.out
  JVM stderr: /tmp/tmpxn3hjx3b/h2o_kamran_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321... successful.
Warning: Your H2O cluster version is too old (3 months and 12 days)! Please download and install the latest version from http://h2o.ai/download/

--------------------------  ----------------------------------------
H2O cluster uptime:         03 secs
H2O cluster timezone:       Asia/Kolkata
H2O data parsing timezone:  UTC
H2O cluster version:        3.18.0.5
H2O cluster version age:    3 months and 12 days !!!
H2O cluster name:           H2O_from_python_kamran_1pkjjp
H2O cluster total nodes:    1
H2O cluster free memory:    3.465 Gb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         XGBoost, Algos, AutoML, Core V3, Core V4
Python version:             3.6.5 final
--------------------------  ----------------------------------------

In [ ]:
#Concatenate all the df
#Combined both the data frame
# Combine majority class with upsampled minority class
df_upsampled = pd.concat([df_majority, df_minority_upsampled])

In [40]:
aml = H2OAutoML(max_models = 10, seed = 1)
#aml.train(x = features_train, y = labels_train)

In [42]:
99457/23150

4.296198704103672

In [43]:
23150/99457

0.2327639080205516